
.header {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  padding: 22px 0;
  background-color: $main;

  @include lg {
    padding: 30px 0;
  }
		&__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
		}

		&__logo {
      width: 200px;

      @include lg {
        width: 360px;
      }
		}
}


