.hero {
  position: relative;
  background-image: url('../img/poster@1x.jpg');
  background-image: image-set(
    url('../img/poster@2x.webp') 2x,
    url('../img/poster@1x.webp') 1x,
    url('../img/poster@2x.jpg') 2x,
    url('../img/poster@1x.jpg') 1x
    );

  background-size: cover;
  background-position: center;

  @include md {
    background-image: url('../img/poster-xl@1x.jpg');
    background-image: image-set(
      url('../img/poster-xl@1x.webp') 1x,     
      url('../img/poster-xl@1x.jpg') 1x
    );
  }

  @include xl {
    background-image: url('../img/poster-xl@2x.jpg');
    background-image: image-set(
      url('../img/poster-xl@2x.webp') 1x,     
      url('../img/poster-xl@2x.jpg') 1x
    );
  }

  @include xxl {
    background-image: url('../img/poster-xl@4x.jpg');
    background-image: image-set(
      url('../img/poster-xl@4x.webp') 1x,     
      url('../img/poster-xl@4x.jpg') 1x
    );
  }

  &__container {
    position: relative;
    z-index: 10;
    min-height: 554px;
    padding-top: 120px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include lg {
      padding-bottom: 74px;
    }

    @include xl {
      min-height: 780px;
      padding-bottom: 100px;
    }

    @include xxl {
      min-height: 100vh;
    }
  }

  &__title {
    font-weight: 1000;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    color: $back;
    margin-bottom: 24px;

    @include lg {
      font-size: 52px;
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: $second;

    @include lg {
      font-size: 40px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 5;
    inset: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 35.38%, #000000 100%);
  }

  &__video-bg {
    z-index: 8;
  }
}
